footer
  p
    a(href='https://www.cooluc.com/',target='_blank') Cooluc's Blog
    a |
    a(href='/manage',target='_blank') 登录
  p
    a(href='https://beian.miit.gov.cn/',target='_blank')= _config_('icp')

-if(g_config.custom_script)
  .
    !{g_config.custom_script}